body{
    background: #0b0d17;
}

.container{
max-width: 1024px;
margin-left: auto;
margin-right: auto;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.coloumn {
padding-left: 15px;
padding-right: 15px;
}

.box{
    background: white;
    border-radius: 8px;
    padding: 32px;
}

.box__title{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
 }

.box__content{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
}

a{
    color: inherit;
    text-decoration: none;
}
.box__icon{
    margin-bottom: 50px;
}

.box__link{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #8C30F5;  
}