.stats{
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 80px 165px;
}

.section{
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.section__title{
    position: static;
    color: #18191F;
    font-weight: 800;
    font-size: 48px;
    margin-bottom: 8px;
}

.section__description{
    color: #18191F;
    font-size: 18px;
    font-weight: 400;
}

.counts{
    position: static;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.row{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    
}
.box{
    display: flex;
    column-gap: 16px;
}
.icon{
    display: flex;
    width: 48px;
    height: 48px;
}
.detail{
    flex-grow: 0;
    margin: 0px 16px;
}

.detail__number{
    width: 191px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    
}

.feature2{
    width: 1440px;
    height: 800px;
    padding: 165px;

}

.feature{
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;    
    padding: 64px 165px;
}
.mockup{
    background-color: #F1E4FF;
    width: 540px;
    height: 540px;
    /* Inside Auto Layout */
    flex: none;
    margin-right: 30px;
    overflow: hidden;   
}
.mockup__img{
    position: relative;
    width: 360px;
    height: 720px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 56px;
    
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 48px;

}
.content__title{
    font-weight: 800;
    font-size: 40px;
}

.content__paragraph{
    font-weight: normal;
    font-size: 18px;
    padding-top: 32px;
    padding-bottom: 32px;    
}

.content__button{
    color:#8C30F5;
}

a{
    color: inherit;
    text-decoration: none;
}
